
<div id="main">
	<table>
		<tr>
			<th>
				<h1></script>Today</h1>
			</th>
			<th>
				<h1>Tomorrow</h1>
			</th>
			<th>
				<h1>Übermorrow</h1>
			</th>
			<th>
				<h1>Über^2morrow</h1>
			</th>
			<th>
				<h1>Über^3morrow</h1>
			</th>
			<th>
				<h1>Über^4morrow</h1>
			</th>
			<th>
				<h1>Über^5morrow</h1>
			</th>
		</tr>
		<tr>
			<td>
				{% for item in now %}
					<a>{{ item.name }} <div>{{ item.table }}</div></a><br>
				{% endfor %}
			</td>
			<td>
				{% for item in one_off %}
					<a>{{ item.name }} <div>{{ item.table }}</div></a><br>
				{% endfor %}
			</td>
			<td>
				{% for item in two_off %}
					<a>{{ item.name }} <div>{{ item.table }}</div></a><br>
				{% endfor %}
			</td>
			<td>
				{% for item in three_off %}
					<a>{{ item.name }} <div>{{ item.table }}</div></a><br>
				{% endfor %}
			</td>
			<td>
				{% for item in four_off %}
					<a>{{ item.name }} <div>{{ item.table }}</div></a><br>
				{% endfor %}
			</td>
			<td>
				{% for item in five_off %}
					<a>{{ item.name }} <div>{{ item.table }}</div></a><br>
				{% endfor %}
			</td>
			<td>
				{% for item in six_off %}
					<a>{{ item.name }} <div>{{ item.table }}</div></a><br>
				{% endfor %}
			</td>
		</tr>
	</table>
</div>