<style type="text/css">
	a div {
		position: absolute;
		display: none;
	}

	a:hover div {
		position: absolute;
		display: inline-block;
	}

	.event {
		border: 1px solid #333;
		background: #ccc;
	}
</style>

<div id="main">
	<table>
		{# You may want to calculate days client-side, since you could just do this:
			- Make an array days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
			- Get today's day of the week, from 0-6 with 0 being Sun. etc. weekday = datetime.today()
			- for(int i=0; i<7; i++):
				next_day = days[weekday]
				weekday++;
				if weekday > 6:
					weekday = weekday % 7
		#}
		<tr>
			<th>Today</th>
			<th>Tomorrow</th>
			<th>Übermorrow</th>
			<th>Über^2morrow</th>
			<th>Über^3morrow</th>
			<th>Über^4morrow</th>
			<th>Über^5morrow</th>
		</tr>
		<tr>
			<td>
				{% for item in now %}
					<a>{{ item.name }} <div>{{ item.table }}</div></a><br>
				{% endfor %}
			</td>
			<td>
				{% for item in one_off %}
					{{ item.table }}
				{% endfor %}
			</td>
			<td>
				{% for item in two_off %}
					{{ item.table }}
				{% endfor %}
			</td>
			<td>
				{% for item in three_off %}
					{{ item.table }}
				{% endfor %}
			</td>
			<td>
				{% for item in four_off %}
					{{ item.table }}
				{% endfor %}
			</td>
			<td>
				{% for item in five_off %}
					{{ item.table }}
				{% endfor %}
			</td>
			<td>
				{% for item in six_off %}
					{{ item.table }}
				{% endfor %}
			</td>
		</tr>
	</table>
</div>